/*------------------------------------------*/
/* DEFAULTS */
/*------------------------------------------*/
body {
	font: 20px Cambria;
	color: #1A56B6;
	background: #F4F4FF;
	background-image: radial-gradient(circle, #DDEEFF, #DDEEFF, #DDEEFF, #5588FF);
}
div {
	padding: 2%;
	width: 96%;
	margin: 0px;
	border-radius: 4px;
}
button {
	padding-left: 20px;
	padding-right: 20px;
	background: #6EABFB;
	color: #1A56B6;
	font-size: 30px;
	border: none;
	border-radius: 4px;
	transition: 0.25s;
}
button:hover {
	background: #6EABFB;
	color: #1A56B6;
	background: #4D89E9;
	color: #FFFFFF;
}
a.light {
	color: #66EEFF;
}

a.dark {
	color: #223366;
}
li {
	padding: 7px;
}

/*------------------------------------------*/
/* CLASSES */
/*------------------------------------------*/
.mainPanel {
	position: relative;
	width: 76%;
	left: 10%;
	top: 10%;
}
.darkPanel {
	background: #2B67C7;
	color: #FFFFFF;
	padding: 10px;
	display: inline-block;
}
.lightPanel {
	background: #FFFFFF;
	color: #3C78D8;
	display: inline-block;
}
.accentPanel {
	background: #FDFF8E;
	border: 2px solid #CBCE0A;
	color: #868810;
	width: 90%;
	margin: 2%;
}
.darkTitle {
	background: #2B67C7;
	color: #FFFFFF;
	font-size: 30px;
	font-style: italic;
}
.pageTitle {
	background: #2B67C7;
	color: #FFFFFF;
	font-size: 30px;
	font-style: italic;
	font-size: 40px;
}
.navBar {
	width: 99%;
	margin: 0;
	padding: 0.5%;
	background: #2B67C7;
	color: #FFFFFF;
	font-size: 30px;
	transition: 0.25s;
}
.stickyNavBar {
	position: fixed;
	width: auto;
	top: 0;
}
.navButton {
	padding-left: 20px;
	padding-right: 20px;
	background: #6EABFB;
	color: #1A56B6;
	font-size: 30px;
	border: none;
	border-radius: 4px;
	transition: 0.25s;
}
.navButton:hover {
	background: #6EABFB;
	color: #1A56B6;
	background: #4D89E9;
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: -10px;
	margin-bottom: -10px;
}
.picture {
	border-radius: 4px;
	margin: 10px;
	display: inline;
	width: 200px;
}
.sectionTitle {
	font-style: italic;
	font-size: 25px;
	border-bottom: 2px solid;
	padding: 0;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3FF; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #330066; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 10px;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}