/*------------------------------------------*/
/* DEFAULTS */
/*------------------------------------------*/
html {
	overflow: scroll;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 0;  /* Remove scrollbar space */
}
body {
	font: 18px Georgia;
	color: #0c2245;
	text-align: justify;
	line-height: 145%;
}
div {
	padding: 2%;
	width: 96%;
	margin: 0px;
	text-align: justify;
}
button {
	padding-left: 20px;
	padding-right: 20px;
	font: 25px Georgia;
	border-radius: 2px;
	border: none;
	background: #0c2245;
	color: #FFFFFF;
}
a {
	color: #2a61b8;
}
ul {
	margin-right: 20px;
}
li {
	padding: 7px;
}
video {
	max-width: 100%;
	max-height: 800px;
	border-radius: 3px;
	margin: 10px;
}
iframe {
	margin: 20px;
	float: right;
}
p {
	margin-left: 10px;
	margin-right: 10px;
}

/*------------------------------------------*/
/* CLASSES */
/*------------------------------------------*/
.mainPanel {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
}
.centeredContent {
	text-align: center;
}
.pageTitle {
	background: #2a61b8;
	color: #FFFFFF;
	font-size: 40px;
	text-align: left;
	line-height: 145%;
}
.generalButton {
	padding: 10px;
	transition: 0.25s;
}
.generalButton:hover {
	background: #669cf2;
	cursor: pointer;
}
.darkPanel {
	background: #bfd2ff;
	color: #0c2245;
	display: inline-block;
	padding: 15px;
	margin-top: 20px;
	transition: 0.50s;
	max-width: 90%;
}
.darkPanelLink {
	background: #bfd2ff;
	color: #0c2245;
	display: inline-block;
	padding: 15px;
	margin-top: 20px;
	cursor: pointer;
	transition: 0.50s;
	max-width: 90%;
 }

.standardPanel {
	display: inline-block;
	padding: 15px;
	margin-top: 20px;
}
.darkPanelLink:hover {
	background: #a7bbfa;
}
.lightPanel {
	color: #0c2245;
	display: inline-block;
	padding: 15px;
	margin-top: 20px;
	transition: 0.50s;
	max-width: 90%;
}
.lightPanelLink {
	color: #0c2245;
	display: inline-block;
	padding: 15px;
	margin-top: 20px;
	cursor: pointer;
	transition: 0.50s;
	max-width: 90%;
}
.lightPanelLink:hover {
	background: #a7bbfa;
}
.sectionTitle {
	font-size: 30px;
	border-bottom: 5px solid #0c2245;
	padding-bottom: 2px;
}
.sectionSubtitle {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 2px;
}
.navBar {
	width: 99%;
	margin: 0;
	padding: 0.5%;
	background: #2a61b8;
	color: #FFFFFF;
	font-size: 30px;
	transition: 0.25s;
}
.navButton {
	padding-left: 20px;
	padding-right: 20px;
	color: #FFFFFF;
	background: #2a61b8;
	border: none;
	border-radius: 4px;
	transition: 0.25s;
}
.navButton:hover {
	background: #669cf2;
	cursor: pointer;
}
.picture {
	width: 30%;
	margin: 15px;
	border-radius: 3px;
}
.centeredImage {
	display: block;
	margin: 10px auto;
	max-width: 100%;
	border-radius: 3px;
}
.rightFloatImage {
	max-width: 50%;
	float: right;
	margin: 20px;
	display: inline-block;
}
.caption {
	font-style: italic;
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;
}
.headshot {
	margin: 15px;
	max-width: 40%;
	border-radius: 3px;
	float: right;
}

/* The slider itself */
.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 18px; /* Specified height */
	background: #d3d3FF; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
	border-radius: 12.5px;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 35px;
	height: 35px;
	background: #669cf2;
	cursor: pointer;
	border-radius: 17.5px;
	border: 4px solid #FFFFFF;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
}
#gameboard {

	width: 60%;
	max-width: 400px;
	border: 3px solid #0c2245;
	margin: 15px;
	border-radius: 5px;

}
#gameboard2 {

	width: 60%;
	min-width: 300px;
	border: 3px solid #0c2245;
	margin: 15px;
	border-radius: 5px;

}

#mountainKing {
	float: right;
	width: 50%;
}

#acrylicPumpVideo {
	width: 50%;
}
#hiveImage:hover {
	cursor: pointer;
}
#hiveButton {
	width: 300px;
	background: #2a61b8;
	color: #FFFFFF;
	padding: 10px;
	margin: 10px auto;
	display: block;
	transition: 0.25s;
}
#hiveButton:hover {
	background: #669cf2;
}

/* For small displays */
@media (max-width: 800px) {
	body {
		font-size: 15px;
	}
	button {
		font-size: 18px;
	}
	.pageTitle {
		font-size: 22px;
	}
	.navButton {
		font-size: 18px;
		width: 50%;
		text-align: left;
	}
	.sectionTitle {
		font-size: 20px;
	}
	.sectionSubtitle {
		font-size: 18px;
	}
	.caption {
		font-size: 12px;
	}
	#mountainKing {
		width: 100%;
	}
	#acrylicPumpVideo {
		width: 100%;
	}
}