/*------------------------------------------*/
/* DEFAULTS */
/*------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
	overflow: scroll;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 0;  /* Remove scrollbar space */
}
body {
	font: 18px "Roboto Serif";
	color: #ffffff;
	text-align: justify;
	line-height: 145%;
	background: #222222;
}
div {
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	text-align: justify;
}
button {
	padding-left: 20px;
	padding-right: 20px;
	font: 25px "Roboto Serif";
	border-radius: 2px;
	border: none;
	background: #0c2245;
	color: #FFFFFF;
}
a {
	color: #6da5ff;
}
ul {
	margin-right: 20px;
}
li {
	padding: 7px;
}
video {
	max-width: 90%;
	max-height: 800px;
	border-radius: 3px;
	margin: auto;
}
iframe {
	margin: 20px;
	float: right;
}

/*------------------------------------------*/
/* CLASSES */
/*------------------------------------------*/
.inlineCode {
	font-family: "monospace";
	font-weight: bold;
}
.mainPanel {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
}
.multipathPage img {
	max-width: min(600px, 80vw);
}
.centeredContent {
	text-align: center;
}
.pageTitle {
	background-image: linear-gradient(140deg, #5187df 6%, #2a61b8 20%, #2a61b8 80%, #183e7c 100%);
	color: #FFFFFF;
	font-size: 40px;
	text-align: left;
	line-height: 145%;
	border-radius: 0.2em;
	padding: 0.3em;
}
.generalButton {
	padding: 10px;
	transition: 0.25s;
}
.generalButton:hover {
	background: #669cf2;
	cursor: pointer;
}
.darkPanel {
	border-radius: 0.2em;
	box-sizing: border-box;
}
.darkPanel:nth-child(odd) {
	color: #fff;
	display: inline-block;
	padding: 15px;
	margin-top: 20px;
	transition: 0.50s;
}
.darkPanel:nth-child(even) {
	background: #273c5e;
	color: #fff;
	display: inline-block;
	padding: 15px;
	margin-top: 20px;
	transition: 0.50s;
}
.darkPanelLink {
	border-radius: 0.2em;
	box-sizing: border-box;
}
.darkPanelLink:nth-child(odd) {
	color: #fff;
	display: inline-block;
	padding: 15px;
	margin-top: 20px;
	cursor: pointer;
	transition: 0.50s;
	max-width: 90%;
 }

.darkPanelLink:nth-child(odd):hover {
	background-color: #1d2d46;
}
.darkPanelLink:nth-child(even) {
	background: #273c5e;
	color: #fff;
	display: inline-block;
	padding: 15px;
	margin-top: 20px;
	cursor: pointer;
	transition: 0.50s;
	max-width: 90%;
}
.darkPanelLink:nth-child(even):hover {
	background: #324c77;
}
.sectionTitle {
	font-size: 30px;
	border-bottom: 5px solid #2e5fad;
	padding-bottom: 2px;
	margin-top: 1em;
}
.sectionSubtitle {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 2px;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.navBar {
	width: 99%;
	margin: 0;
	padding: 0.5%;
	color: #FFFFFF;
	font-size: 30px;
	transition: 0.25s;
	border-radius: 0.2em;
	display: flex;
	justify-content: space-evenly;
}
.navButton {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #FFFFFF;
	background-image: linear-gradient(140deg, #5187df 6%, #2a61b8 20%, #2a61b8 80%, #183e7c 100%);
	border: none;
	border-radius: 0.2em;
	transition: 0.25s;
}
.navButton:hover {
	background: #669cf2;
	cursor: pointer;
}
.note {
	width: calc(100% - 2em);
	margin: 1em;
	border-radius: 1em;
	box-sizing: border-box;
	padding: 1em;
	background-color: rgb(71, 66, 17);
}
.picture {
	display: block;
	width: 30%;
	margin: 15px;
	border-radius: 0.2em;
}
.centeredImage {
	display: block;
	margin: 10px auto;
	max-width: 100%;
	border-radius: 3px;
}
.rightFloatImage {
	max-width: 50%;
	float: right;
	margin: 20px;
	display: inline-block;
}
.caption {
	text-align: justify;
	font-style: italic;
	font-size: 16px;
	margin-bottom: 20px;
}
.headshot {
	margin: 15px;
	max-width: 40%;
	border-radius: 30%;
	border: 4px solid #313131;
	float: right;
}
.popupStorySpan {
	border-bottom: 2px dotted #3d69b1;
}
.popupStorySpan:hover {
	cursor: pointer;
}
.popupStoryDiv {
	display: none;
	position: fixed;
	border: 3px solid #5b5b5b;
	border-radius: 5px;
	background: #222;
	width: 600px;
	height: 0;
	left: 50%;
	top: 50%;
	padding-top: 0;
	transform: translate(-50%, -50%);
	transition: 0.3s;
	scrollbar-color: #AAAAAA #FFFFFF;
	scrollbar-width: narrow;
	z-index: 2;
}

.popupStoryDiv button {
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	background: #444;
	color: #fff;
	opacity: 0; /* This will be changed later */
	width: 30px; 
	height: 30px;
	border-radius: 5px; 
	padding-left: 0;
	padding-right: 0;
	margin: 5px;
	position: sticky; 
	left: 100%;
	top: 5px;
	transition: 0.25s;
}

.popupStoryDiv p {
	opacity: 0; /* This gets overwritten once the popup actually displays */
	transition: 1s;
}

.popupStoryDiv button:hover {
	background: #999999;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 18px;
	background: #FFFFFF;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	border-radius: 12.5px;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 35px;
	height: 35px;
	background: #88AcFF;
	cursor: pointer;
	border-radius: 17.5px;
	border: 4px solid #FFFFFF;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
}
.lock-screen {
	height: 100%;
	overflow: hidden;
	width: 100%;
	position: fixed;
}
#bedrockWebAssistantArchitecture {
	width: calc(100% - 2em);
	box-sizing: border-box;
	margin: 1em;
	border-radius: 1em;
}
#gameboard {

	width: 80%;
	max-width: 400px;
	border: 3px solid #0c2245;
	margin: 15px;
	border-radius: 5px;

}
#gameboard2 {

	width: 80%;
	min-width: 300px;
	border: 3px solid #0c2245;
	margin: 15px;
	border-radius: 5px;

}

.pianoVideo {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#acrylicPumpVideo {
	width: 50%;
}
#hiveImage:hover {
	cursor: pointer;
}
#hiveButton {
	width: 300px;
	background: #2a61b8;
	color: #FFFFFF;
	padding: 10px;
	margin: 10px auto;
	display: block;
	transition: 0.25s;
}
#hiveButton:hover {
	background: #669cf2;
}
#impromptu {
	max-width: 200px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

/* For small displays */
@media (max-width: 800px) {
	body {
		font-size: 15px;
	}
	button {
		font-size: 18px;
	}
	iframe {
		width: 100%;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.pageTitle {
		font-size: 22px;
	}
	.navBar {
		display: block;
	}
	.navButton {
		font-size: 18px;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-left: 5%;
		margin-right: 5%;
		width: 40%;
		text-align: left;
	}
	.sectionTitle {
		font-size: 20px;
	}
	.sectionSubtitle {
		font-size: 18px;
	}
	.caption {
		font-size: 12px;
	}
	.picture {
		width: 70%;
		margin-bottom: 15px;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	.rightFloatImage {
		width: 90%;
		max-width: 90%;
	}
	.popupStoryDiv {
		width: 90%;
		max-width: 90%;
	}
	.headshot {
		float: none;
		margin-left: auto;
		margin-right: auto;
		display: block;
		max-width: 50%;
	}
	#acrylicPumpVideo {
		width: 100%;
	}
	#hiveImage {
		width: 100%;
	}
}