/*------------------------------------------*/
/* DEFAULTS */
/*------------------------------------------*/
html {
	overflow: scroll;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 0;  /* Remove scrollbar space */
}
body {
	font: 18px Georgia;
	color: #0c2245;
	text-align: justify;
	line-height: 145%;
}
div {
	padding: 2%;
	width: 96%;
	margin: 0px;
	text-align: justify;
}
button {
	padding-left: 20px;
	padding-right: 20px;
	font: 25px Georgia;
	border-radius: 2px;
	border: none;
	background: #0c2245;
	color: #FFFFFF;
}
a {
	color: #2a61b8;
}
ul {
	margin-right: 20px;
}
li {
	padding: 7px;
}
video {
	max-width: 90%;
	max-height: 800px;
	border-radius: 3px;
	margin: auto;
}
iframe {
	margin: 20px;
	float: right;
}
p {
	margin-left: 10px;
	margin-right: 10px;
}

/*------------------------------------------*/
/* CLASSES */
/*------------------------------------------*/
.mainPanel {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
}
.centeredContent {
	text-align: center;
}
.pageTitle {
	background: #2a61b8;
	color: #FFFFFF;
	font-size: 40px;
	text-align: left;
	line-height: 145%;
}
.generalButton {
	padding: 10px;
	transition: 0.25s;
}
.generalButton:hover {
	background: #669cf2;
	cursor: pointer;
}
.darkPanel {
	background: #bfd2ff;
	color: #0c2245;
	display: inline-block;
	padding: 15px;
	margin-top: 20px;
	transition: 0.50s;
	max-width: 90%;
}
.darkPanelLink {
	background: #bfd2ff;
	color: #0c2245;
	display: inline-block;
	padding: 15px;
	margin-top: 20px;
	cursor: pointer;
	transition: 0.50s;
	max-width: 90%;
 }

.standardPanel {
	display: inline-block;
	padding: 15px;
	margin-top: 20px;
}
.darkPanelLink:hover {
	background: #a7bbfa;
}
.lightPanel {
	color: #0c2245;
	display: inline-block;
	padding: 15px;
	margin-top: 20px;
	transition: 0.50s;
	max-width: 90%;
}
.lightPanelLink {
	color: #0c2245;
	display: inline-block;
	padding: 15px;
	margin-top: 20px;
	cursor: pointer;
	transition: 0.50s;
	max-width: 90%;
}
.lightPanelLink:hover {
	background: #a7bbfa;
}
.sectionTitle {
	font-size: 30px;
	border-bottom: 5px solid #0c2245;
	padding-bottom: 2px;
}
.sectionSubtitle {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 2px;
}
.navBar {
	width: 99%;
	margin: 0;
	padding: 0.5%;
	background: #2a61b8;
	color: #FFFFFF;
	font-size: 30px;
	transition: 0.25s;
}
.navButton {
	padding-left: 20px;
	padding-right: 20px;
	color: #FFFFFF;
	background: #2a61b8;
	border: none;
	border-radius: 4px;
	transition: 0.25s;
}
.navButton:hover {
	background: #669cf2;
	cursor: pointer;
}
.picture {
	width: 30%;
	margin: 15px;
	border-radius: 3px;
}
.centeredImage {
	display: block;
	margin: 10px auto;
	max-width: 100%;
	border-radius: 3px;
}
.rightFloatImage {
	max-width: 50%;
	float: right;
	margin: 20px;
	display: inline-block;
}
.caption {
	text-align: justify;
	font-style: italic;
	font-size: 16px;
	margin-bottom: 20px;
}
.headshot {
	margin: 15px;
	max-width: 40%;
	border-radius: 3px;
	float: right;
}
.popupStorySpan {
	border-bottom: 2px dotted #0c2245;
}
.popupStorySpan:hover {
	cursor: pointer;
}
.popupStoryDiv {
	display: none;
	position: fixed;
	border: 3px solid #0c2245;
	background: #fff;
	width: 600px;
	height: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: 0.3s;
	scrollbar-color: #AAAAAA #FFFFFF;
	scrollbar-width: narrow;
	z-index: 2;
}

.popupStoryDiv button {
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	background: #FFFFFF;
	color: #555555;
	width: 30px; 
	height: 30px;
	border-radius: 5px; 
	padding-left: 0;
	padding-right: 0;
	margin: 5px;
	position: fixed; 
	right: 0; 
	top: 0;
	transition: 0.25s;
}

.popupStoryDiv p {
	opacity: 0; /* This gets overwritten once the popup actually displays */
	transition: 1s;
}

.popupStoryDiv button:hover {
	background: #999999;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 18px;
	background: #FFFFFF;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	border-radius: 12.5px;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 35px;
	height: 35px;
	background: #88AcFF;
	cursor: pointer;
	border-radius: 17.5px;
	border: 4px solid #FFFFFF;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
}
.lock-screen {
	height: 100%;
	overflow: hidden;
	width: 100%;
	position: fixed;
}
#gameboard {

	width: 80%;
	max-width: 400px;
	border: 3px solid #0c2245;
	margin: 15px;
	border-radius: 5px;

}
#gameboard2 {

	width: 80%;
	min-width: 300px;
	border: 3px solid #0c2245;
	margin: 15px;
	border-radius: 5px;

}

#mountainKing {
	float: right;
	margin: 15px;
	margin-top: 0px;
	width: 50%;
}

#acrylicPumpVideo {
	width: 50%;
}
#hiveImage:hover {
	cursor: pointer;
}
#hiveButton {
	width: 300px;
	background: #2a61b8;
	color: #FFFFFF;
	padding: 10px;
	margin: 10px auto;
	display: block;
	transition: 0.25s;
}
#hiveButton:hover {
	background: #669cf2;
}

/* For small displays */
@media (max-width: 800px) {
	body {
		font-size: 15px;
	}
	button {
		font-size: 18px;
	}
	iframe {
		width: 100%;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.pageTitle {
		font-size: 22px;
	}
	.navButton {
		font-size: 18px;
		width: 50%;
		text-align: left;
	}
	.sectionTitle {
		font-size: 20px;
	}
	.sectionSubtitle {
		font-size: 18px;
	}
	.caption {
		font-size: 12px;
	}
	.picture {
		width: 100%;
		margin: auto;
		margin-bottom: 15px;
	}
	.rightFloatImage {
		width: 90%;
		max-width: 90%;
	}
	#mountainKing {
		width: 100%;
	}
	#acrylicPumpVideo {
		width: 100%;
	}
	#hiveImage {
		width: 100%;
	}
}